@tailwind base;
@tailwind components;
@tailwind utilities;

ul ul {
  @apply !mt-1;
}

.death-knight {
  color: #C41F3B; /* Deep red */
}

.demon-hunter {
  color: #A330C9; /* Dark magenta */
}

.druid {
  color: #FF7D0A; /* Orange */
}

.hunter {
  color: #ABD473; /* Light green */
}

.mage {
  color: #69CCF0; /* Light blue */
}

.monk {
  color: #00FF96; /* Bright green */
}

.paladin {
  color: #F58CBA; /* Pink */
}

.priest {
  color: #FFFFFF; /* White */
}

.rogue {
  color: #FFF569; /* Light yellow */
}

.shaman {
  color: #0070DE; /* Blue */
}

.warlock {
  color: #9482C9; /* Purple */
}

.warrior {
  color: #C79C6E; /* Tan */
}

.evoker {
  color: #33937F; /* Teal */
}
